.item {
  background: var(--theme-todo-item-background-color);
  height: 3.556rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1.333rem;
  border-radius: 0.333rem;
  width: 100%;
}

.shadow {
  box-shadow: 0px 35px 50px -15px hsla(0, 0%, 0%, 0.5);
}

.checkbox-button {
  margin-left: 1.333rem;
  flex: 1 0 auto;
}

.input {
  width: 100%;
  color: var(--theme-input-text-color);
  line-height: 1rem;
  letter-spacing: -0.014rem;
}

.disabled {
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: var(--theme-line-through-color);
}
