:root {
  --font-size-xxxl: 2.222rem;
  --line-height-xxxl: 2.222rem;
  --letter-spacing-xxxl: 0.833rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --theme-white-color: hsla(0, 0%, 100%, 1);
  --theme-very-light-gray: hsl(0, 0%, 98%);
  --theme-very-light-grayish-blue: hsla(235, 39%, 85%, 1);
  --theme-dark-grayish-blue: hsla(235, 24%, 19%, 1);
  --theme-check-background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.light {
  --theme-input-text-color: var(--theme-dark-grayish-blue);
  --theme-line-through-color: hsl(236, 9%, 61%);
  --theme-todo-item-background-color: var(--theme-white-color);
  --theme-background-color: hsl(0, 0%, 98%);
  --theme-background-image: url('/images/bg-desktop-light.jpg');
  --theme-check-border: hsl(233, 11%, 84%);
  @media only screen and (max-width: 768px) {
    --theme-background-image: url('/images/bg-mobile-light.jpg');
  }
}

.dark {
  --theme-input-text-color: var(--theme-very-light-grayish-blue);
  --theme-line-through-color: hsl(233, 14%, 35%);
  --theme-todo-item-background-color: var(--theme-dark-grayish-blue);
  --theme-background-color: hsla(235, 21%, 11%, 1);
  --theme-background-image: url('/images/bg-desktop-dark.jpg');
  --theme-check-border: hsl(237, 14%, 26%);
  @media only screen and (max-width: 768px) {
    --theme-background-image: url('/images/bg-mobile-dark.jpg');
  }
}

*,
*::before, 
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 18px;
  font-weight: var(--font-weight-normal);
  height: 100vh;
}

body {
  background: var(--theme-background-color);
}

body::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 300px;
  z-index: -100;
  background: var(--theme-background-image) no-repeat center / 100% 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

h1 {
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xxxl);
  letter-spacing: var(--letter-spacing-xxxl);
  margin: 0;
}
