:root {
  /* common */
  --theme-background-color: hsl(0, 0%, 98%);
  --theme-check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  --theme-background-image: url('/images/bg-mobile-light.jpg');
  @media only screen and (max-width: 768px) {
    --theme-background-image: url('/images/bg-desktop-light.jpg');
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-background-image: url('/images/bg-mobile-dark.jpg');
    @media only screen and (max-width: 768px) {
      --theme-background-image: url('/images/bg-desktop-dark.jpg');
    }
  }
}

*,
*::before, 
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 18px;
  background-color: var(--theme-background-color);
  color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}
